body{
background-image: url(Bckgrnd.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
height: 90vh;
}
#clock{
    text-align: center;
    position: relative;
    top: 300px;
    color: rgba(5, 215, 180, 0.899);
    font-size: 45px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    
}
