form{
    text-align: center;
    border: 1px solid;
    max-width: 350px;
    margin: auto;
    border-radius:15px ;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 5px 15px black;
}

button{
    border-radius: 5px;
    border: 1px solid;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
button:hover{
    box-shadow: 2px 2px 5px black;
}

