*{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.buttons{
    background-color: rgb(91, 91, 238);
    border: 0px;
    border-radius: 5px;
    height: 2em;
    cursor: pointer;
    transition: background-color 1s;
    font-weight: 200;
}
.buttons:hover{
background-color: rgb(39, 39, 199);    
}



